   <div class="sposta">
   <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="tornaOrdini()">Torna al ristorante</button>
   </div>


<div class="mdl-grid">
   <!--Inizio Cella-->
   <div class="mdl-cell mdl-cell--12-col graybox ">
<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Data</th>
      <th class="mdl-data-table__cell--non-numeric">Piatto</th>
      <th class="mdl-data-table__cell--non-numeric">Quantità</th>
      <th class="mdl-data-table__cell--non-numeric">Cliente</th>
      <th class="mdl-data-table__cell--non-numeric">Ordine </th>
      <th class="mdl-data-table__cell--non-numeric">Pronto</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ordiniRistoranti | async ">
       <td class="mdl-data-table__cell--non-numeric">{{item.data*1000 | date:'short'}}</td>
       
       <td class="mdl-data-table__cell--non-numeric">{{item.nomePiatto}}</td>
       <td class="mdl-data-table__cell--non-numeric">{{item.quantity}}</td>

       <td><button mdl-button mdl-button-type="mini-fab" mdl-colored="primary" (click)="dettaglioCliente(item.idCliente)"><mdl-icon>accessibility</mdl-icon></button></td>

      <td><button mdl-button mdl-button-type="mini-fab" mdl-colored="primary" (click)="ordineCompleto(item.idOrdine)"><mdl-icon>list</mdl-icon></button></td>
   
		<td *ngIf="!item.pronto"><button mdl-button mdl-button-type="mini-fab" mdl-colored="accent" (click)="cambiaPronto(item.$key, item.pronto, item.idOrdine)"><mdl-icon>clear</mdl-icon></button></td>
		<td *ngIf="item.pronto"><button mdl-button mdl-button-type="mini-fab" mdl-colored="primary" disabled (click)="cambiaPronto(item.$key, item.pronto, item.idOrdine)"><mdl-icon>done</mdl-icon></button></td>



    </tr>
  </tbody>
</table>
</div>
</div>