    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--teal-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">{{title}}</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li routerLink="/login" class="mdl-menu__item">Login</li>
            <li routerLink="/dati-personali" class="mdl-menu__item">Dati personali</li>
            <li routerLink="/impostazioni" class="mdl-menu__item">Impostazioni</li>
            <li routerLink="/logout" class="mdl-menu__item">Logout</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img [src]="avatar" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>{{nome}}</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">

            </button>

          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">

            <a class="mdl-navigation__link" routerLink="/"><i class="mdl-color-text--white material-icons" role="presentation">home</i>Home</a>

            <a class="mdl-navigation__link" routerLink="/ristoranti"><i class="mdl-color-text--white material-icons" role="presentation">restaurant</i>Ristoranti</a>

            <a class="mdl-navigation__link" routerLink="/offerte"><i class="mdl-color-text--white material-icons" role="presentation">local_activity</i>Offerte</a>

            <a class="mdl-navigation__link" routerLink="/clienti"><i class="mdl-color-text--white material-icons" role="presentation">portrait</i>Clienti</a>

            <a class="mdl-navigation__link" routerLink="/ordini"><i class="mdl-color-text--white material-icons" role="presentation">notifications_active</i>Ordini</a>

            <a class="mdl-navigation__link" routerLink="/consegne"><i class="mdl-color-text--white material-icons" role="presentation">directions_bike</i>Consegne</a>

            <a class="mdl-navigation__link" routerLink="/mezzi"><i class="mdl-color-text--white material-icons" role="presentation">local_shipping</i>Mezzi</a>
            
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
               <div class="router-outlet">
                  <router-outlet></router-outlet>
               </div>
      </main>
    </div>
    
