   <div class="sposta">
   <button mdl-button mdl-button-type="raised" mdl-colored="accent" (click)="tornaRistorante()">Torna al ristorante</button>
   </div>

<h3>Menù</h3>
<div *ngFor="let item of piattiList | async; let i = index; ">
       <div class="mdl-card mdl-shadow--2dp demo-card-square">

         <div *ngIf="loading" class="mdl-spinner mdl-js-spinner is-active"></div>  
         <div class="mdl-card__title mdl-card--expand">
           <img [hidden]="loading" (load)="onLoad()" [src]="item.downloadURL | async" style="max-width:150px;max-height:150px;">
         </div>

         <div *ngIf="!item.inOfferta" class="mdl-card__supporting-text">
           <span  style="color:#009688;"> {{item.nomePiatto}} </span> -  {{item.prezzo | number: '.2'}} CHF
         </div>

         <div *ngIf="item.inOfferta" class="mdl-card__supporting-text">
           <span  style="color:#009688;"> {{item.nomePiatto}} </span> -  <span mdl-badge="★">{{item.prezzo | number: '.2'}}</span>  CHF
         </div>

         <div class="mdl-card__actions mdl-card--border">
           <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" (click)="dettaglioPiatto(item.$key)">
            Dettaglio
           </a>

         </div>

       </div>
</div>

<a id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-color-text--white" (click)="aggiungiPiatto()">Aggiungi</a>